#page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: whitesmoke;
}
mat-toolbar {
  height: 5%;
}
#headerTitle {
  margin: 0;
  padding: 1rem 0;
  text-align: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

#btnToggleSidenav {
  height: 60px;
  width: 60px;
  position: absolute;
  top: 0;
  left: 0;
}
.inventory-sidenav-content {
  height: 100%;
  max-width: 100%;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
}
.inventory-sidenav  {
  width: 20%;
  box-shadow: 1px 0px 6px #666;
}
.sidenav-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.sidenav-item-list {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  &>li {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

  }
}

.sidenav-item {
  user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 3rem;
    padding-left: 1rem;
}

.sidenav-sub-item {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  width: 100%;
  margin-left: 2rem;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  list-style-type: none;
  &>li {
    height: 3rem;
    padding-left: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}


mat-drawer-container {
  height: 100%;
  width: 100%;
}
mat-toolbar {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
