#page {
  height: 90%;
  margin: 0;
  padding: 0;
}
#orderForm {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 2rem;
  margin: 0rem 1rem 0rem 1rem;
  &>* {
    width: 100%;
  }
  box-shadow: 1px 1px 6px #444;
}

#formButtonGroup {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-content: center;
  grid-gap: 2rem;
  &>button {
    width: 10rem;
  }
}
h2 {
  text-align: center;
  padding: 2rem;
  margin: 0;
}
.form-input {
  &__error {
    color: red;
  }
}
