::ng-deep .product-add-dialog {
  mat-dialog-container {
    width: 50vh;
    height: 400px;
  }
  mat-dialog-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
#productAddDialog {

  &>mat-dialog-content {
    height: inherit;
    display: flex;
    flex-direction: column;
  }
}
mat-form-field {
  overflow: hidden;
}


h2[mat-dialog-title] {
  text-align: center;
}
